<% if user_signed_in? %>
  <h1>Calculate Spending Money</h1>
  <% if current_user.income.empty? %>
    <p>You don't have any income entered yet. Please go to the <%= link_to "budget", adjustments_path %> page and fill out your financial details</p>
  <% elsif current_user.expenses.empty? %>
    <p>You don't have any expenses entered yet. Please go to the <%= link_to "budget", adjustments_path %> page and fill out your financial details</p>
  <% else %>
    <%= form_for(:calculator, url: calculators_path) do |f| %>
      <%= f.label :balance %>
      <%= f.text_field :balance, class: 'form-control' %>

      <%= f.submit "Calculate Spending Money", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
  <h1>Welcome</h1>
  <p>Welcome to the Spending Money money management app. While many money management apps ask you to constantly keep track of your expenses and income, the key here is simplicity. When you set up your account, you enter your monthly expenses and income. This can either be as detailed, or as generic as you want. They can also be edited regularly, as your circumstances change. Then, all you need to do to use the app, is to enter the current amount of money in your bank account, and the app will tell you how much extra "Spending Money" you can spend while still staying on top of your bills.</p>
<% end %>
