<li class="adjustment-info">
  <span class="name"><%= adjustment.name %>:</span>
  <span class="value"><%= number_to_currency(adjustment.value.abs, precision: 0) %></span>
  <% if adjustment.date? %>
    <span class="date">Every <%= pluralize(adjustment.frequency_num, adjustment.frequency.singularize) %></span>
  <% end %>
  <span class="adjustment-controls">
    <%= link_to "Edit", edit_adjustment_path(adjustment) %>
    <%= link_to "Delete", adjustment_path(adjustment), method: :delete %>
  </span>
</li>
